<div class="moment" *ngIf="moment$ | async as momentData">
  <h1>{{ momentData.title }}</h1>
  <img
    [src]="baseApiUrl + 'uploads/' + momentData.image"
    [alt]="momentData.title"
  />
  <div class="about-moment">
    <h3>Sobre este momento:</h3>
    <p>{{ momentData.description }}</p>
  </div>
  <div class="actions">
    <h3>Ações:</h3>
    <a [routerLink]="['/moments/edit/', momentData.id]" class="edit-btn">
      <fa-icon [icon]="faEdit"></fa-icon> Editar
    </a>
    <button (click)="removeHandler(momentData.id!)" class="remove-btn">
      <fa-icon [icon]="faTimes"></fa-icon> Excluir
    </button>
  </div>
  <div class="comments">
    <p>Comentários (0)</p>
  </div>
</div>
