:root {
  /* Default */
  --mp-color-default: #444;
  --mo-color-default-light: #777;

  /* LINK */
  --mp-color-link: #dec129;
  --mp-color-background-default: #fff
  --mp-color-background: #efefef;

  // FORM
  --mp-color-error-form: #DC3545


}
