/* You can add global styles to this file, and also import other style files */
@import "./styles/settings/main.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--mp-color-default);
  font-family: var(--df-font-family-base);

  a {
    text-decoration: none;
    color: var(--mp-color-default);
    transition: 0.4s;

    &:hover {
      color: var(--mp-color-link);
    }
  }

  /* FORM */
  form {
    width: 450px;
    margin: 0 auto;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      label{
        font-weight: bold;
        font-size: 0.9em;
        margin-bottom: 0.4em;
      }

      input,
      textarea{
        padding: 0.6em;
        color: var(--mp-color-default);
        font-size: 0.8em;
      }

      .validation-error{
        p{
          color: var(--mp-color-error-form);
          margin-top: 0.4em;
          border-left: 3px solid var(--mp-color-error-form);
          padding-left: 0.2em;
        }
      }
    }

    input[type="submit"]{
      background-color: var(--mp-color-background);
      border: 2px solid transparent;
      padding: 0.6em 1em;
      font-weight: bold;
      font-size: 1.1em;
      cursor: pointer;
      transition: 0.4s;

      &:hover{
        color: var(--mp-color-link);
        border-color: var(--mp-color-link);
        background-color: transparent;
      }
    }
  }
}
